name: Test pip installation

on: [push]

jobs: 
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'
      - name: Install mpoints via pip
        run: |
          pip install mpoints
      - name: Test installation
        run: |
          python -c "import mpoints;"

